{% extends 'Customer/base_login.html' %} {% load static %}{% block content %} {% load crispy_forms_tags %}

<div class="container">
  <div class="product" style="text-align: center">
    <h4 style="color: sandybrown">
      Icarus
      <small class="text-muted"
        ><i> <strong> Bar & Restaurant</strong> </i></small
      >
    </h4>
    <small class="text-muted">Welcome back, we're happy to serve you.</small>

    <div class="input-fields mt-5">
      <form method="POST" style="text-align: center" novalidate>
        {% csrf_token %}
        <fieldset class="form-group mt-2">
          <legend class="border-bottom mb-lg-5;" style="text-align: center">Connexion</legend>

          {{form.username|as_crispy_field}}
          <br />
          {{form.password|as_crispy_field}}
        </fieldset>
        <div class="mt-5"><button type="submit" class="ghost-round full-width">Connect</button></div>

        <div style="text-align: center" class="mx-5">
          <small><a href="#">Lost password?</a></small
          ><br />
          <small class="text-muted">Join Today! <a class="ml-2" href="/register/?session={{app}}"> Sign up </a> </small>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
