{% extends "Customer/base_login.html" %}{% load static %} {% load crispy_forms_tags %}{% block content %}
<div class="h-[500px]">

  <h4 class="mt-2" style="color: sandybrown">
    Icarus
    <small class="text-muted"
      ><i> <strong> Bar & Restaurant</strong> </i></small
    >
  </h4>
  
  <small class="text-muted" style="padding-left: 10px">Merci d'utiliser notre service.</small>
  
  <h1>Connexion</h1>
  
  <form method="POST" id="login">
    {% csrf_token %}
    <div class="flex justify-center items-center">
      <i class="fas fa-envelope text-2xl bg-gray-100 p-[12px] rounded-l-full" style="color: sandybrown"></i>
      <input class="px-4 rounded-r-full py-4 border-0" type="text" placeholder="Tapez votre e-mail" {{form.username}} <br />
      <!-- <label style="padding-right: 225px" for="Email">Email</label><br /> -->
    </div>
    <div class="two flex justify-center items-center">
      <i class="fas fa-lock text-2xl bg-gray-100 p-[12px] rounded-l-full" style="color: sandybrown"></i>
      <!-- <label style="padding-right: 165px" for="Password">Mot de passe</label><br /> -->
      <input class="rounded-r-full p-4 border-0" type="password" placeholder="Tapez votre mot de passe" {{form.password}}<br />
    </div>
  
    <a href="{% url 'password_reset' %}"><p id="forget">Mot de passe oublié?</p></a>
  
    <button class="bg-orange-300 text-white  px-4 py-2 mt-3" type="submit">Connexion</button>
  
    {% comment %}
    <div class="middle">
      <p>Or Sign Up Using</p>
      <div class="icons">
        <a href="google.com"><i class="fab fa-facebook"></i></a>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
    {% endcomment %}
  
    <div>
      <p class="mt-3">Rejoignez Icarus aujourd'hui!</p>
      <br />
      <small class="text-muted">
        <a
          class="bg-blue-500 rounded-full font-bold py-3 px-24 text-white mt-5 mb-2"
          href="/register/?session={{app}}"
      
        >
          S'inscrire
        </a>
      </small>
      {% comment %} <span id="span"><a class="ml-2" style="text-decoration: none; color: white" href="/register/?session={{app}}">Register</a></span> {% endcomment %}
    </div>
  </form>


  
</div>

{% endblock content %}
