<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{% static 'Resto/CSS/login.css' %}">
</head>
    <title>Login</title>
</head>
<body>
    <!-- <img src="/images/Logo.png" alt=""> -->
    <div class="login-container">
        <img src="{% static 'Resto/Logo.png' %}" alt="Nova_Cloud">
        <h1>Login</h1>
        <form action="POST" nonvalidate>
                {% csrf_token %}
                  <div class="one">
                      <label style="padding-right: 225px;" for="Username">Email</label><br>
                      <input type="text" placeholder="Type your username"><br>
                  </div>
                  <div class="two">
                      <label style="padding-right: 195px;" for="Password">Password</label><br>
                      <input type="password"  placeholder="Type your Password">
                  </div>
                  <button type ='submit' >Login</button>
            
              <a style="text-decoration: none;" href="/changePassword/?session={{app}}"><p style="text-align: 50px;" id="forget">Forgot password?</p></a>
              
              <div class="middle">
                  <p>Or Sign Up Using</p>
                  <div class="icons">
                      <a href="google.com"><i class="fab fa-facebook"></i></a>
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-google"></i>
                      <i class="fab fa-instagram"></i>
                      <i class="fab fa-linkedin"></i>
                  </div>
              </div>
              <div class="bottom" type='submit'>
                  <p>Or Sign Up Using</p><br>
                  <span id="span"><a class="ml-2" style="text-decoration: none;" href="/register/?session={{app}}">SIGN UP</a></span>
              </div>
          </div>
        </form>
    
</body>
</html>