{% extends 'Customer/base_login.html' %} {% load crispy_forms_tags %} {% block content %}

<h4 class="mt-2" style="color: sandybrown">
  Icarus
  <small class="text-muted"
    ><i> <strong> Bar & Restaurant</strong> </i></small
  >
</h4>
<!--Reset Password-->
<div class="container py-3">
  <h4 class="font-weight-bold mt-1">Réinitialiser le mot de passe</h4>
  <hr />
  <p style="padding-left: 2px">Mot de passe oublié? Entrez votre adresse e-mail ci-dessous et nous vous enverrons par e-mail des instructions pour définir un nouveau.</p>

  <form method="POST">
    {% csrf_token %}
    <i class="fas fa-envelope"></i>
    <label style="padding-right: 205px" for="Email">Email</label><br />
    <input type="text" placeholder="Tapez votre e-mail" {{form.email}} <br />

    <button class="btn btn-primary" type="submit">Envoyer e-mail</button>
  </form>
</div>
{% endblock content %}
