{% extends 'Customer/base_login.html' %} {% load crispy_forms_tags %} {% block content %} {% load crispy_forms_tags %} {% load static %}

<div class="justify-center items-center w-full min-h-screen">
  <div>
    <img class="mb-5" src="{% static 'Resto/Logo.png' %}" alt="Nova_Cloud" />
  </div>
  <h4 class="mt-2" style="color: sandybrown">
    Icarus
    <small class="text-muted"
      ><i> <strong> Bar & Restaurant</strong> </i></small
    >
  </h4>
  <small class="text-muted">Merci d'utiliser notre service.</small>

  <!--Password reset sent done-->
  <div class="p-3">
    <h4 class="font-weight-bold mt-1">Réinitialisation du mot de passe envoyée</h4>
    <hr />
    <p tyle="padding-left: 2px">
      Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe si un compte existe avec le e-mail que vous avez saisi, vous devriez le recevoir sous peut. Si vous ne recevez
      pas d'e-mail, assurez-vous que vous avez entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam.
    </p>
  </div>
</div>
{% endblock content %}
