{% extends 'Customer/base_login.html' %} {% load crispy_forms_tags %} {% block content %} {% load crispy_forms_tags %}

<h4 class="mt-2" style="color: sandybrown">
  Icarus
  <small class="text-muted"
    ><i> <strong> Bar & Restaurant</strong> </i></small
  >
</h4>

<!--Password Reset Complete-->
<div class="container p-3">
  <h2 class="font-weight-bold mt-3">Réinitialisation du mot de passe terminée</h2>
  <hr />
  <p>Votre mot de passe a été défini. Vous pouvez continuer et vous connecter maintenant.</p>

  <a
    href="/login"
    class="btn btn-primary"
    style="
      background: linear-gradient(59deg, rgba(28, 163, 250, 1) 28%, rgba(1, 36, 129, 0.5970588919161415) 57%, rgba(0, 99, 255, 1) 100%);
      text-decoration: none;
      margin-right: 10px;
      padding: 5px;
      border-radius: 20px;
      font-weight: bold;
    "
    >Log in</a
  >
</div>
{% endblock content %}
