{% extends 'Customer/base_login.html' %} {% load crispy_forms_tags %} {% block content %} {% load crispy_forms_tags %}

<h4 class="mt-2" style="color: sandybrown">
  Icarus
  <small class="text-muted"
    ><i> <strong> Bar & Restaurant</strong> </i></small
  >
</h4>
<!--Password Reset Confirm-->
<div class="container p-3">
  <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
  <hr />
  <p>Please enter your new password.</p>
  <form method="POST">
    {% csrf_token %}

    <div class="two">
      <i class="fas fa-lock"></i>
      <label style="padding-right: 163px" for="Email">Mot de passe</label><br />
      <input type="password" placeholder="Tapez votre mot de passe" {{form.password1}} <br />
    </div>

    <div class="two">
      <i class="fas fa-lock"></i>
      <label style="padding-right: 76px" for="Password">Confirmez mot de passe</label><br />
      <input type="password" placeholder="Confirmer votre mot de passe" {{form.password2}}
    </div>
    <button class="btn btn-primary" type="submit">Reset password</button>
  </form>
</div>
{% endblock content %}
