{% extends 'Customer/base_login.html' %} {% load crispy_forms_tags %} {% block content %} {% load crispy_forms_tags %} {% load static %}

<div class="flex justify-center items-center w-full min-h-screen">
  <div class="'whole">
    <div>
      <img class="mb-5" src="{% static 'Resto/Logo.png' %}" alt="Nova_Cloud" />
    </div>
    <h4 class="mt-2 text-center" style="color: sandybrown">
      Icarus
      <small class="text-muted"
        ><i> <strong> Bar & Restaurant</strong> </i></small
      >
    </h4>
    <p class="text-muted text-center"><small>Merci d'utiliser notre service.</small></p>

    <!--Password reset sent done-->
    <div class="p-3 max-w-lg">
      <h4 class="font-weight-bold mt-1 text-center">Réinitialisation du mot de passe envoyée</h4>
      <hr />
      <p class="p-2" style="font-size: 15px">
        Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe si un compte existe avec le e-mail que vous avez saisi, vous devriez le recevoir sous peut. Si vous ne
        recevez pas d'e-mail, assurez-vous que vous avez entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam.
      </p>
    </div>
  </div>
</div>
{% endblock content %}
