{% extends 'Customer/base_login.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}

<h4 class="mt-2" style="color: sandybrown">
  Icarus
  <small class="text-muted"
    ><i> <strong> Bar & Restaurant</strong> </i></small
  >
</h4>

<small class="text-muted" style="padding-left: 10px">Nous avons presque terminé. Avant d'utiliser nos services, vous devez créer un compte.</small>

<form method="POST" class="mt-5">
  {% csrf_token %}

  <div class="one">
    <i class="fas fa-user-circle"></i>
    <label style="padding-right: 230px" for="Email">Nom</label><br />
    <input type="text" placeholder="Type your last name" {{form.nom}} <br />
  </div>

  <div class="two">
    <i class="fas fa-user-circle"></i>
    <label style="padding-right: 210px" for="Password">Prenom</label><br />
    <input type="text" placeholder="Type your first name" {{form.prenom}}
  </div>

  <div class="one">
    <i class="fas fa-envelope"></i>
    <label style="padding-right: 225px" for="Email">Email</label><br />
    <input type="text" placeholder="Type your email" {{form.username}} <br />
  </div>

  <div class="two">
    <i class="fas fa-phone-square-alt"></i>
    <label style="padding-right: 150px" for="Password">Phone Number</label><br />
    <input type="text" placeholder="Type your phone number" {{form.phone_number}}
  </div>

  <div class="one">
    <i class="fas fa-lock"></i>
    <label style="padding-right: 163px" for="Email">Mot de passe</label><br />
    <input type="password" placeholder="Type your password" {{form.password1}} <br />
  </div>

  <div class="two">
    <i class="fas fa-lock"></i>
    <label style="padding-right: 76px" for="Password">Confirmez mot de passe</label><br />
    <input type="password" placeholder="Confirm your password" {{form.password2}}
  </div>

  <button class="mt-2" type="submit">S'inscrire</button>

  <div style="text-align: center">
    <small class="text-muted">Vous avez déjà un compte? <a class="ml-2" href="/login/?session={{app}}"> S'identifier </a> </small>
  </div>
</form>

{% endblock content %}
