 {% extends 'Customer/base_login.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}


<div class='welcome'>Icarus Restaurant</div>
<div class='subtitle mt-2'>We're almost done. Before using our services you need to create an account.</div>
<div class='input-fields mt-2'>
    {% if form.errors %}
    <p class='mt-1' style='color:tomato;text-align: center;'>This username is already taken. Please try another one.</p>
    {% endif %}
    <form method='POST' class="mt-4" novalidate>
        {% csrf_token %}
        <fieldset class='form-group mt-2' style='text-align:center'>
            <legend class='border-bottom mb-lg-5;' style="text-align:center ;">Join Today</legend>
            <label class='mt-4' for=Username> Username</label> <br> {{form.username}}
            <br>
            <label class='mt-4' for=Username>Phone Number</label> <br> {{form.phone_number}}
            <br>
            <label class='mt-4' for="Password1">Password</label> <br>{{form.password1}}
            <br>
            <label class='mt-4' for="Password2"> Confirm Password</label><br> {{form.password2}}
        </fieldset>

        <div class='form-group mt-5'>
            <button type="submit" class='ghost-round full-width'> Sign up</button>
        </div>

        <div class='border-top pt-3' style='text-align:center'>

            <small class='text-muted'>Already Have An Account? <a class = 'ml-2' href="{% url 'login' %}"> Sign in </a>
                             </small>

        </div>
    </form>
</div>
</div>
</div>
{% endblock content %}