{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Icarus</title>
  </head>
  <body>
    <h1>Email pour Ebooste</h1>
    <img src="{% static 'Pinav/Logo/e-Bouste_logo.png'%}" alt="" width="120px" />

    <p>Bienvenue sur ebooste nous somme tres heureux de vous compter parmis nos utilisateur</p>

    <footer>
      <div style="background-color: beige">
        <p>Location: Yopougon, Abidjan</p>
        <p>Phone: +225 0101010101</p>
        <br />
      </div>
    </footer>
  </body>
</html>
