body {
  background: rgb(28, 163, 250);
  background: linear-gradient(59deg, rgba(28, 163, 250, 1) 28%, rgba(1, 36, 129, 0.5970588919161415) 57%, rgba(0, 99, 255, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 140vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.login-container {
  text-align: center;
  background-color: white;
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-top: 10px;
  margin-top: 90px;
  animation: slide 1s forwards;
}
@keyframes slide {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
h1 {
  padding: 30px 0;
  font-size: 18px;
  text-align: center;
}
/* form{
  text-align: left;
  padding-left: 35px;
} */

#label {
  padding-right: 190px;
}
input {
  border: none;
  border-bottom: 1px solid rgb(151, 150, 150);
  width: 270px;
  padding: 15px 0;
  outline: none;
}
.two {
  padding-top: 20px;
}
#forget {
  text-align: center;
  font-size: 13px;
  color: black;
  margin-top: 10px;
}
#forget:hover {
  color: rgb(0, 9, 128);
}
p {
  font-size: 13px;
}
#span {
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  background: rgb(28, 163, 250);
  background: linear-gradient(59deg, rgba(28, 163, 250, 1) 28%, rgba(1, 36, 129, 0.5970588919161415) 57%, rgba(0, 99, 255, 1) 100%);
}
#span:hover {
  animation: move 4s alternate infinite;
  cursor: pointer;
}
@keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
button {
  background: rgb(28, 163, 250);
  background: linear-gradient(59deg, rgba(28, 163, 250, 1) 28%, rgba(1, 36, 129, 0.5970588919161415) 57%, rgba(0, 99, 255, 1) 100%);
  color: white;
  width: 275px;
  /* margin-left: 38px; */
  padding: 10px 0;
  border-radius: 20px;
  text-align: center;
  outline: none;
  border: none;
  cursor: none;
}

/* button:hover {
  font-size: 10px;
} */

a {
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fa-facebook {
  color: rgb(2, 12, 97);
  background-color: rgb(247, 247, 252);
  border-radius: 50%;
  font-size: 30px;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google:hover,
.fa-instagram:hover,
.fa-linkedin:hover {
  animation: move 2s infinite;
  cursor: pointer;
}
.fa-twitter {
  color: rgb(252, 252, 252);
  background-color: rgb(99, 158, 197);
  border-radius: 50%;
  padding: 7px;
}
.fa-google {
  background-color: orangered;
  color: white;
  border-radius: 50%;
  padding: 7px;
}
.fa-instagram {
  background: rgb(250, 240, 28);
  background: linear-gradient(59deg, rgba(250, 240, 28, 1) 0%, rgba(129, 1, 1, 0.798739564185049) 26%, rgba(102, 0, 255, 1) 100%);
  border-radius: 50%;
  padding: 7px;
  color: white;
}
.fa-linkedin {
  background-color: rgb(4, 4, 97);
  color: rgb(250, 251, 253);
  border-radius: 50%;
  padding: 7px;
  font-size: 15px;
}
.bottom {
  padding-top: 70px;
  padding-bottom: 30px;
}
.middle {
  padding: 10px 0;
}
@media screen and (max-width: 375px) {
  body {
    background: rgb(255, 255, 255);
    background: linear-gradient(59deg, rgb(255, 255, 255) 28%, rgb(255, 255, 255, 0.597) 57%, rgb(255, 255, 255) 100%);
  }
}

@media screen and (min-width: 640px) {
  .login-container {
    width: 100%;
    height: 100%;
  }
}
