{% extends 'Resto/base_dashboard.html' %} {% block dashTitle %} Analytics {% endblock dashTitle%} {% block content %}

<div class="overview-boxes">
  <div class="box">
    <div class="right-side">
      <div class="box-topic">Revenu du Jour</div>
      <div class="number">{{total_order}}</div>
      <div class="indicator">
        <i class="bx bx-up-arrow-alt"></i>
        <span class="text">Up from yesterday</span>
      </div>
    </div>
    <i class="bx bx-cart-alt cart"></i>
  </div>

  <div class="box">
    <div class="right-side">
      <div class="box-topic">Revenu du mois</div>
      <div class="number">{{total_order}}</div>
      <div class="indicator">
        <i class="bx bx-up-arrow-alt"></i>
        <span class="text">Up from yesterday</span>
      </div>
    </div>
    <i class="bx bx-cart-alt cart"></i>
  </div>

  <div class="box">
    <div class="right-side">
      <div class="box-topic">Total customer du jour</div>
      <div class="number">{{total_order}}</div>
      <div class="indicator">
        <i class="bx bx-up-arrow-alt"></i>
        <span class="text">Up from yesterday</span>
      </div>
    </div>
    <i class="bx bx-cart-alt cart"></i>
  </div>

  <div class="box">
    <div class="right-side">
      <div class="box-topic">Total Visit du jour</div>
      <div class="number">{{total_order}}</div>
      <div class="indicator">
        <i class="bx bx-up-arrow-alt"></i>
        <span class="text">Up from yesterday</span>
      </div>
    </div>
    <i class="bx bx-cart-alt cart"></i>
  </div>
</div>

{% endblock content%}
