{% extends 'Resto/base_cuisine.html' %}{% load static %}  {% load humanize %}{% block content %}

<div class="container py-5">
    <div class="mt-3" style="text-align: center">
        <h1 style="color: black">Uncompleted Orders</h1>
        <small class="text-muted" > Date: {{today}}</small>
        <hr />
    </div>
    <div id="message" class="col-12">
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible" style="text-align: center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
          <use xlink:href="#check-circle-fill" />
        </svg>
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %} {% endif %}
    </div>

    <!-- Display uncompleted order Real Time -->
      <div id ='data' class="row justify-content-evenly g-lg-3 align-items-lg-baseline">

      </div>

      <h1 id="noOrder" style='color:orange;text-align:center'>There is no order</h1>
          

    <div class='pt-5'>
      <h1 class="mb-4" style="color: black; text-align: center">Completed Orders</h1>
    </div>
    <hr >
  
    <br>

 
    <!-- Display completed order Real Time -->
    <div id="accordion">
    </div>
   

  

     <!-- AJAX -->
 
</div>
    {% endblock content %}
  </div>

        
    
      {% block sidebar %}
     
      <div class='py-5 mt-3'> 
          <div class ='row performanceCuisine'> 
              <div >
                <h4 style='color:rgb(51, 49, 49);text-align:center'>Performance Cuisine<h4>
              </div>
    
              <style>
                .performanceCuisine{
                  width: 65%;
                  justify-content:space-around;
                }
              </style>
    
              
              <div class ='cards'>
                  <div class ='card' style='text-align:center;'>
                    <h6 class='lead mt-2'><strong>Uncompleted Orders</strong></h6>
                    <p id="totalUncompleted" style='color:rgb(224, 34, 34);font-size:50px'><strong></strong></p>
                  </div>
              </div>
            
    
              <div class ='cards'>
                  <div class ='card' style='text-align:center;'>
                    <h6 class='lead mt-2'><strong>Completed Orders</strong><h6>
                    <p id ='totalcompleted' style='color:rgb(54, 126, 54);font-size:50px'><strong></strong></p>
                  </div>
              </div>
    
    
               <!-- <div class ='cards'>
                  <div class ='card'style='text-align:center;'>
                    <h6 class='lead mt-2'><strong> Top Order Item</strong></h6>
                    <p style='color:rgb(112, 108, 108);font-size:30px'><strong style='color:orange'>{{top_item}}</strong></p>
                     <p><strong style='color:rgb(54, 126, 54);font-size:50px'>{{top_item_number}}</strong></p> 
                    <i style = color:orange class="fas fa-fire-alt"></i>
                  </div>
              </div>  -->
              
          </div>
      </div>
      {% endblock sidebar %}
    </div>

  



    

   