{% extends "Resto/base_checkout.html" %} {% block content %} {% load static %}


<div class='container'>

    <div class='mt-3'>
        <h1>Uncomplete Order</h1>
    </div>

    <div class='mt-2'>
        {% for order in all_order %}
        <p class='lead'> {{order}}</p>
        <p> {{order.date_ordered}}</p>

        {% for x in order.orderitem_set.all %}
        <p>
            * {{x}} ({{x.quantity}})
        </p>
        {% endfor %}
    </div>

    <div>
        <form method='POST'>
            {% csrf_token %}
            <button data-action='completed' data-order={{order.id}} class='btn btn-outline-success mb-3 send-order'> Complete </button>
        </form>


    </div>

    {% endfor %}
</div>


<div>
    <h1>completed Order</h1>
</div>
<hr>



<div>
    {% for order in complete %}


    <p class='lead'> {{order}}</p>
    <p> {{order.date_ordered}}</p>

    {% for x in order.orderitem_set.all %}
    <p>
        * {{x}} ({{x.quantity}})
    </p>
    {% endfor %}
    <hr> {% endfor %}
</div>
</div>
{% endblock content %}