{% extends 'Resto/base_cuisine.html' %}{% load static %}  {% load humanize %}{% block content %}






<div class="container py-5">

    <div class="mt-3" style="text-align: center">
        <h1 style="color: black">Uncompleted Orders</h1>
        <small class="text-muted" > Date: {{today}}</small>
        <hr />
    </div>

    <!-- Display uncompleted order Real Time -->
      <div id ='data' class="row justify-content-evenly g-lg-3 align-items-lg-baseline">

      </div>

      <h1 id="noOrder" style='color:orange;text-align:center'>There is no order</h1>
          

    <div class='pt-5'>
      <h1 class="mb-4" style="color: black; text-align: center">Completed Orders</h1>
    </div>
    <hr >
  
    <br>

 
    <!-- Display completed order Real Time -->
    <div id="accordion">
      
    </div>
   

  

     <!-- AJAX -->
  <script>
    $(document).ready(function () {

    var csrfToken = $("input[name=csrfmiddlewaretoken]").val()

    

    var active_order = null    

    function fetchdata(time){

        setInterval(getdata,time);
    };
    //fetchdata(1000);
    getdata()//

    var csrfToken = $("input[name=csrfmiddlewaretoken]").val()
  
    function getdata (){
      $.ajax({
        url: "/texasgrillz/GetOrderCuisine/",
        method:'GET',
        data:{
          csrfmiddlewaretoken: csrfToken,
          },

        success: function (response) {
          console.log(response);

          $("#orderUncompleted").empty(); //no refresh
          $("#totalUncompleted").empty(); //no refresh
          $("#totalcompleted").empty(); //no refresh
          $("#data").empty(); //no refresh 

          $("#accordion").empty();

          

          


          $("#totalUncompleted").append(response.total_uncompleted_order)
          $("#totalcompleted").append(response.total_completed_order)

          order_uncomp = response.order
         
          for (var ord in response.order) {
            data = {
              orderName: response.order[ord],
              order: response.order[ord]["id"],
              table: response.order[ord]["table"],
              dateOrdered: response.order[ord]["date_ordered"],
            };


            var myorderitem = [];

           
            for (var i in response.myorder) {
              {
                var ordername = response.myorder[i]["order"];
                if (response.myorder[i]["order_id"] == data["order"]) {
                  data["orderName"] = response.myorder[i]["order"];
                  data["quantity"] = response.myorder[i]["quantity"];
                  data["ingredient"] = response.myorder[i]["ingredient"];
                  myorderitem.push(`
                 <p style = 'color:black'>${response.myorder[i]["item"]} (${response.myorder[i]["quantity"]})<br><b>${response.myorder[i]["ingredient"]}</b></br> <p>`);
                  
                }
              }
            }
            

            //ORDER ITEMS
            for (var i in myorderitem){
              check = myorderitem.join(" ");
            }

            
    
            // Uncompleted Order List
           $("#data").append(`<div class="col-auto mt-3">
            <div class="card" style="width:auto; height: auto; background-color: rgb(243, 166, 152)">
              <div class="card-body mb-1">
                <p class="card-text mb-1" style="color: black; text-align: center">Date:${data['dateOrdered']}</p>
                <p style="text-align: center"><b style="color: black">Table Number:</b>${data['table']}</p>
                <h4 class="card-title mb-1" style="color: black; text-align: center">
                  <b>Customer:${data['orderName']}</b>
                </h4>
                <hr style="color: black" />

                <div id="myorderitem" >
                <p class="card-text mb-2" style="color: black; text-align: center"><b>*</b>${check}</p>

                <div class="mt-4" style="text-align: center">
                  <form class = 'ordercompleted-form' method="POST">
                    {% csrf_token %}
                    <small class="text-muted mb-4" >${data['dateOrdered']}</small><br>
                    <button type="submit" data-action="completed" data-order=${data['order']} class="btn btn-outline-success mb-3 orderDone">Complete</button>
                  </form>
                  
                      </div>
                    </div>
                  </div>
              </div>`
            
            ); 
          }
          $("#noOrder").hide()

          
          for (var i in order_uncomp){
            var form_order = document.getElementsByClassName('ordercompleted-form')[i]
              
            var orderDone = document.getElementsByClassName("orderDone")[i]

            orderDone.addEventListener('click',(function(item){
            return function(e){
            order_click(item)

            e.preventDefault();
            update_order()
            }
            
               })(order_uncomp[i]))
          }

          //Completed Order List
          for (var i in response.completed_order){

            myorderitem = []

            for(var ord in response.completed_order_item){

              if (response.completed_order[i]['id'] == response.completed_order_item[ord]['order_id']){
              
                orderName = response.completed_order_item[ord]['order']
                ordernumber = response.completed_order[i]['id']
                myorderitem.push(`
                 <p style = 'color:black'>${response.completed_order_item[ord]["item"]} (${response.completed_order_item[ord]["quantity"]})<p>`);

              }
            }

            //ORDER ITEMS
            for (var i in myorderitem){
              check = myorderitem.join(" ");
            }

          $("#accordion").append(`<span  data-bs-target='#order-${ordernumber}' data-bs-toggle="collapse" data-order ={{order.id}} >
            <div id ='cardnum-${active_order}' class="card">
              <div class="card-header">
                <h6 class="card-link"   href="#collapseOne">
                  Table:${response.completed_order[i]['table']}- Customer Name: <strong style="color:rgb(3, 131, 250);"> ${orderName}</strong>
                  - Order Number:${ordernumber} - Ref: ${response.completed_order[i]['transaction_id']} - Date: ${response.completed_order[i]['date_completed']} - <strong style ='color:green' >${response.completed_order[i]['status']}</strong>
                   <i style ='color:green' class="bi bi-check-square"></i>
                </h6>
                <div id="order-${ordernumber}" class="collapse show mt-2" data-parent="#accordion">
                  <div class="full_order">
                    <p class="card-text mb-2" style="color: black; text-align: center;"><b>*</b>${check}</p>
                  </div>
                </div>
              </div>
              <button style='color:red' class="close float-right" id="order_completed-${ordernumber}"><span aria-hiden = 'true'>&times; Cancel </span></button>
             </div>
             
          `)

          

          order_comp = document.getElementById(`order_completed-${ordernumber}`)
          cardnum = document.getElementById(`cardnum-${active_order}`)

          //SHOW CARD COLOR FLASHING
          cardnum.style.backgroundColor = 'rgb(54, 126, 54)'
          setInterval(function(){
            cardnum.style.backgroundColor = 'white'
          },2000)
          

          order_comp.addEventListener('click',function(e){
            order_id(cardnum)
            e.stopPropagation();
            

          })
          
         
        }

          

          

        }
        ,

        error: function (response) {
          console.log("THERE IS AN ERROR", response);
        },
      });

    }


    
var csrfToken = $("input[name=csrfmiddlewaretoken]").val()


    //COMPLETED ORDER
    function update_order(){
      $.ajax({
        url: "/texasgrillz/CompletedOrder/",
        method: 'POST',
        data:{
        'csrfmiddlewaretoken': "{{csrf_token}}",
        'id':active_order,
        },
        dataType: 'json',
        success: function(response){
          getdata()

        
        }
        ,

        error: function(){
            console.log('AN ERROR HAS OCCURED')
        }

      });

    }

    function order_click(order_id){
      console.log("you clicked me",order_id['id'])
      active_order = order_id
      active_order = active_order['id']
    }

    function order_id(order_id){
      console.log("Find Me",order_id)
     
      
    }
   
});
    </script>


</div>
    {% endblock content %}

  </div>

        
    
      {% block sidebar %}
     
      <div class='py-5 mt-3'> 
          <div class ='row performanceCuisine'> 
              <div >
                <h4 style='color:rgb(51, 49, 49);text-align:center'>Performance Cuisine<h4>
              </div>
    
              <style>
                .performanceCuisine{
                  width: 65%;
                  justify-content:space-around;
                }
              </style>
    
              
              <div class ='cards'>
                  <div class ='card' style='text-align:center;'>
                    <h6 class='lead mt-2'><strong>Uncompleted Orders</strong></h6>
                    <p id="totalUncompleted" style='color:rgb(224, 34, 34);font-size:50px'><strong></strong></p>
                  </div>
              </div>
            
    
              <div class ='cards'>
                  <div class ='card' style='text-align:center;'>
                    <h6 class='lead mt-2'><strong>Completed Orders</strong><h6>
                    <p id ='totalcompleted' style='color:rgb(54, 126, 54);font-size:50px'><strong></strong></p>
                  </div>
              </div>
    
    
               <!-- <div class ='cards'>
                  <div class ='card'style='text-align:center;'>
                    <h6 class='lead mt-2'><strong> Top Order Item</strong></h6>
                    <p style='color:rgb(112, 108, 108);font-size:30px'><strong style='color:orange'>{{top_item}}</strong></p>
                     <p><strong style='color:rgb(54, 126, 54);font-size:50px'>{{top_item_number}}</strong></p> 
                    <i style = color:orange class="fas fa-fire-alt"></i>
                  </div>
              </div>  -->
              
          </div>
      </div>
      {% endblock sidebar %}
    </div>

  



    

   