
{% extends "Resto/base.html" %} {% load static %}{% block content %}

<style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }

       div.gallery {
        border-radius: 10px;
        margin: 2px;
        box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.1);
  
      }
    
  

      div.gallery img {
        border-radius: 5px 5px 0 0px;
        width: 100%;
        height: 100px;
        object-fit: cover;
      } 

      div.desc {
        padding: 15px;
        text-align: center;
      }

      .username {
        background-color: cornflowerblue;
        border-radius: 3px;
        color: white;
        padding: 5px 10px;
      }
 
      .info {
        margin-top: 25px;
        width: 100%;
        height: 170px;
        box-sizing: border-box;
        border-radius: 20px;
      } 


      .logofield .businessName {
        font-size: 25px;
        margin-left: 35px;
      }

      .blog-footer {
        padding: 2.5rem 0;
        color: #999;
        text-align: center;
        background-color: #f9f9f9;
        border-top: 0.05rem solid #e5e5e5;
        
      }

     

      .blog-footer p:last-child {
        margin-bottom: 0;
      }  
      /* .mySlides{
        background-color: black;
        border-radius: 8px;
        box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);

      } */

      .notification-message{
        font-weight: bold;
      }

      @media screen and (min-width: 900px) {
        div.gallery img {

          height: 150px;
        }
        .businesslogo img{
          width: 160px;
          height: 150px;
        }
        
      }
    </style>

    

    <div class="p-3 pt-5">
      <!-- UserBox -->
      <div class="flex justify-between userBox items-center">
        {% if user.is_authenticated %}
        <div class="userfield">
          <div class="username lg:text-3xl"> <span class="p-1  lg:text-3xl text-center"><i class="bi bi-person-fill"></i></span>{{request.user.first_name}} {{request.user.last_name}}</div>
        </div>
        {% endif %}
       
        <div class="justify-center">
          <div class="logofield py-5">
            <span class="businesslogo"><img src="{% static 'Resto/Icarus.png' %}" alt="" width="100px" height="100px" /></span>
          </div>
        </div>

        <div class="logOutfield">
          <div class="logOutlogo lg:text-3xl">
            {% if user.is_authenticated %}
            <a class="btn btn-sm btn-outline-secondary" href="/logout/?session={{app}}">Deconnexion</a> {% else%}
            <a class="btn btn-sm btn-outline-secondary" href="/login/?session={{app}}">Connexion</a> {% endif %}
          </div>
        </div>
      </div>
    </div>
      <!-- UserBox -->

     


      <!-- Image Slider -->
      <div class="info my-0 p-4">
          <div class="text-white">
            <div class="mySlides relative lg:h-80">
              <img
                class=" w-full h-40 sm:h-60 lg:h-80 object-cover rounded-lg  border-2 bg-gradient-to-r from-black to-gray-700 opacity-50"
                src="{% static 'Resto/hotdog.jpg' %}">
              <div class="absolute top-0 left-0 font-bold p-2"> 
                  <h1 class="italic text-2xl lg:text-3xl">Texas GrillZ</h1>
                  <p class=" w-full text-xl pt-3 lg:text-3xl">Le meilleur Grill d'Abidjan, du poulets, Ribs, Steaks et Cheeseburgers tout
                    les jours</p>
              </div>
            </div>

            <div class="mySlides relative lg:h-80">
              <img class="w-full h-40 sm:h-60 lg:h-80 object-cover rounded-lg  bg-gradient-to-r from-black to-black opacity-50"
                src="{% static 'Resto/steak.jfif' %}">
              <div class="absolute top-0 left-0 font-bold p-2"> 
                <h1 class="italic text-2xl lg:text-3xl">Steak</h1>
                <p class=" w-full text-xl pt-3 lg:text-3xl">Delicious steak in town</p>
              </div>
            </div>

            <div class="mySlides relative lg:h-80">
              <img class=" w-full h-40 sm:h-60 lg:h-80 object-cover rounded-lg  bg-gradient-to-r from-black to-black opacity-50"
                src="{% static 'Resto/drinks.jfif' %}">
              <div class="absolute top-0 left-0 font-bold p-2"> 
                <h1 class="italic text-2xl lg:text-3xl">Drinks</h1>
                <p class=" w-full text-xl pt-3 lg:text-3xl">Don't forget your favorite drinks</p>
              </div>
            </div>

            <div class="mySlides relative lg:h-80">
              <img class="  w-full h-40 sm:h-60 lg:h-80 object-cover rounded-lg  bg-gradient-to-r from-black to-black opacity-50"
                src="{% static 'Resto/burger.jfif' %}">
              <div class="absolute top-0 left-0 font-bold p-2"> 
                <h1 class="italic text-2xl lg:text-3xl">Burger</h1>
                <p class=" w-full text-xl pt-3 lg:text-3xl">Taste the juiciest burgers in life time</p>
              </div>
            </div>

            <div class="mySlides relative lg:h-80">
              <img class="  w-full h-40 sm:h-60 lg:h-80 object-cover rounded-lg  bg-gradient-to-r from-black to-black opacity-50"
                src="{% static 'Resto/chicken.jpg' %}">
              <div class="absolute top-0 left-0 font-bold p-2"> 
                <h1 class="italic text-2xl lg:text-3xl">Chicken</h1>
                <p class=" w-full text-xl pt-3 lg:text-3xl">Try our delicious barbecued chickens</p>
              </div>
            </div>
            
            </div>
        </div>
      <!-- Image Slider -->

 {% if order %}
<div class="showOrder mt-3">
  <div class="spinner-grow text-muted"></div>
  <div class="spinner-grow text-primary"></div>
  <div class="spinner-grow text-success"></div>
  <div class="spinner-grow text-info"></div>
  <div class="spinner-grow text-warning"></div>
  <div class="spinner-grow text-danger"></div>
  <div class="spinner-grow text-secondary"></div>

  <div class="mt-4">
    <h6 style="color: rgb(209, 112, 131)">My Order - ({{order.date_ordered}})</h6>
    <h6>Reference ID: <small>{{order.transaction_id}}</small></h6>
    <h6>Table: {{order.table}}</h6>
    <h6>Total: {{order.get_order_total}} FCFA</h6>
    {% for order in order.orderitem_set.all%}
    <h6 style="color: darkseagreen">*{{order}} ({{order.quantity}})</h6>
    <p style="color: black">{{order.ingredient}}</p>
    {% endfor %}
  </div>
  {% endif %}
</div>
      


      <!-- notification -->
      <!-- <div class="notification-box text-center bg-green-300 mx-2 py-1 rounded-md sm:py-3 mt-2 sm:mt-24 sm:text-2xl">
        <div class="notification-content">
          <div id="notification-message">
            <p class="text-md">{{request.user.first_name}} you are now connected!</p> 
          </div>
        </div>
      </div> -->
      <!-- notification -->
      
      
      <!-- Menu -->
      <div class="text-center my-3 sm:pt-20 lg:pt-40 ">
        <h1 class="font-bold sm:text-xl lg:text-3xl text-left px-3 py-2" style="color: chocolate;">MENU</h1>
      </div>

        <div class="grid grid-cols-2 justify-center gap-2 lg:gap-y-4 md:grid-cols-3  w-full px-2">
          {% for cat in category %}
          <div class="flex justify-center">
            <div class="gallery w-60 sm:w-60 lg:w-80 lg:h-60">
              <a href="/texasgrillz/menudetails/{{cat.cat_id}}/?session={{app}}">
                <img class="rounded-full" src="{{cat.img.url}}" alt="Cinque Terre" width="600" height="400" />
              </a>
              <div class="desc font-bold lg:text-3xl">{{cat.name}}</div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Menu -->



         <!-- Footer -->
      <footer class="blog-footer mt-1 flex justify-center h-full">
        <div>
          <div class="nova_cloud_logo">
            <img src="{% static 'Resto/Logo.png' %}" alt="" width="140px">
          </div>
          <p class="text-muted lg:text-2xl">Powered by Nova Cloud Artificial Intelligence</p>
          <small class="text-muted lg:text-2xl"> All Rights Reserved 2021 </small>
          <p>
            <a href="#" class="lg:text-2xl">Back to top</a>
          </p>
        </div>
      </footer>
      <!-- Footer -->
    
      <!-- Body End here -->
    </div>


    <script>
      var myIndex = 0;
      function imageSlider() {
        var mySlides = document.getElementsByClassName("mySlides");
        for (let i = 0; i < mySlides.length; i++) {
          mySlides[i].style.display = "none";
          
         }
         myIndex++;
         if (myIndex > mySlides.length) {myIndex = 1}    
         mySlides[myIndex-1].style.display = "block";  
         setTimeout(imageSlider, 3000); // Change image every 3 seconds
        }

        imageSlider();
   </script>
  
   {% endblock content %}