
    {% extends "Resto/base.html" %} {% load static %}

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }

       div.gallery {
        border-radius: 10px;
        margin: 2px;
        box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.1);
  
      }
    
  

      div.gallery img {
        border-radius: 5px 5px 0 0px;
        width: 100%;
        height: 100px;
        object-fit: cover;
      } 

      div.desc {
        padding: 15px;
        text-align: center;
      }

      .username {
        background-color: gray;
        border-radius: 3px;
        color: white;
        padding: 5px 10px;
      }
 
      .info {
        margin-top: 25px;
        width: 100%;
        height: 170px;
        box-sizing: border-box;
        border-radius: 20px;
      } 


      .logofield .businessName {
        font-size: 25px;
        margin-left: 35px;
      }

      .blog-footer {
        padding: 2.5rem 0;
        color: #999;
        text-align: center;
        background-color: #f9f9f9;
        border-top: 0.05rem solid #e5e5e5;
        
      }

     

      .blog-footer p:last-child {
        margin-bottom: 0;
      }  
      /* .mySlides{
        background-color: black;
        border-radius: 8px;
        box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);

      } */

      .notification-message{
        font-weight: bold;
      }
    </style>

    
{% block content %}
  



    <div class="p-2">
      <!-- UserBox -->
      <div class="flex justify-between userBox items-center">
        <div class="userfield">
          <div class="username lg:p-4">{{request.user.first_name}} {{request.user.last_name}}</div>
        </div>

        <div class="logofield w-20 lg:w-32">
          <span class="businesslogo"><img src="{% static 'Resto/TexasGrillzLogo.jpeg' %}" alt="" width="auto" height="60px" /></span>
        </div>

        <div class="logOutfield">
          <div class="logOutlogo">
            {% if user.is_authenticated %}
            <a class="btn btn-sm btn-outline-secondary" href="/logout/?session={{app}}">Deconnexion</a> {% else%}
            <a class="btn btn-sm btn-outline-secondary" href="/login/?session={{app}}">Connexion</a> {% endif %}
          </div>
        </div>
      </div>
    </div>
      <!-- UserBox -->

      <!-- Image Slider -->
  
      <div class="info my-0 p-4">
          <div class="text-white">
            <div class="mySlides relative lg:h-80">
              <img
                class=" w-full h-40 sm:h-60 lg:h-80 object-cover rounded-lg  border-2 bg-gradient-to-r from-black to-gray-700 opacity-50"
                src="{% static 'Resto/hotdog.jpg' %}">
              <div class="absolute top-0 left-0 font-bold p-2"> 
                  <h1 class="italic text-2xl lg:text-3xl">Texas GrillZ</h1>
                  <p class=" w-full text-xl pt-3 lg:text-3xl">Le meilleur Grill d'Abidjan, du poulets, Ribs, Steaks et Cheeseburgers tout
                    les jours</p>
              </div>
            </div>

            <div class="mySlides relative lg:h-80">
              <img class="w-full h-40 sm:h-60 lg:h-80 object-cover rounded-lg  bg-gradient-to-r from-black to-black opacity-50"
                src="{% static 'Resto/steak.jfif' %}">
              <div class="absolute top-0 left-0 font-bold p-2"> 
                <h1 class="italic text-2xl lg:text-3xl">Steak</h1>
                <p class=" w-full text-xl pt-3 lg:text-3xl">Delicious steak in town</p>
              </div>
            </div>

            <div class="mySlides relative lg:h-80">
              <img class=" w-full h-40 sm:h-60 lg:h-80 object-cover rounded-lg  bg-gradient-to-r from-black to-black opacity-50"
                src="{% static 'Resto/drinks.jfif' %}">
              <div class="absolute top-0 left-0 font-bold p-2"> 
                <h1 class="italic text-2xl lg:text-3xl">Drinks</h1>
                <p class=" w-full text-xl pt-3 lg:text-3xl">Don't forget your favorite drinks</p>
              </div>
            </div>

            <div class="mySlides relative lg:h-80">
              <img class="  w-full h-40 sm:h-60 lg:h-80 object-cover rounded-lg  bg-gradient-to-r from-black to-black opacity-50"
                src="{% static 'Resto/burger.jfif' %}">
              <div class="absolute top-0 left-0 font-bold p-2"> 
                <h1 class="italic text-2xl lg:text-3xl">Burger</h1>
                <p class=" w-full text-xl pt-3 lg:text-3xl">Taste the juiciest burgers in life time</p>
              </div>
            </div>

            <div class="mySlides relative lg:h-80">
              <img class="  w-full h-40 sm:h-60 lg:h-80 object-cover rounded-lg  bg-gradient-to-r from-black to-black opacity-50"
                src="{% static 'Resto/chicken.jpg' %}">
              <div class="absolute top-0 left-0 font-bold p-2"> 
                <h1 class="italic text-2xl lg:text-3xl">Chicken</h1>
                <p class=" w-full text-xl pt-3 lg:text-3xl">Try our delicious barbecued chickens</p>
              </div>
            </div>
            
            </div>
        </div>
      

      <!-- Image Slider -->

      <!-- notification -->

      <!-- <div class="notification-box text-center bg-green-300 mx-2 py-1 rounded-md sm:py-3 mt-2 sm:mt-24 sm:text-2xl">
        <div class="notification-content">
          <div id="notification-message">
            <p class="text-md">{{request.user.first_name}} you are now connected!</p> 
          </div>
        </div>
      </div> -->

      <!-- notification -->
      
      
      <!-- Menu -->

      <div class="text-center my-3 sm:pt-10 lg:pt-32 ">
        <h1 class="font-bold sm:text-xl lg:text-2xl text-left px-3 py-2">MENU</h1>
      </div>

        <div class="grid grid-cols-2 justify-center gap-2 lg:gap-y-4 md:grid-cols-3  w-full px-2">
          {% for cat in category %}
          <div class="flex justify-center">
            <div class="gallery w-60 sm:w-60 lg:w-80 lg:h-60">
              <a href="/texasgrillz/menudetails/{{cat.cat_id}}/?session={{app}}">
                <img class="rounded-full" src="{{cat.img.url}}" alt="Cinque Terre" width="600" height="400" />
              </a>
              <div class="desc font-bold lg:text-2xl">{{cat.name}}</div>
            </div>
          </div>
          {% endfor %}
        </div>



         <!-- Footer -->
      <footer class="blog-footer mt-1">
        <div class="nova_cloud_logo">
          <img src="{% static 'Resto/Logo.png' %}" alt="" width="140px">
        </div>
        <p class="text-muted lg:text-2xl">Powered by Nova Cloud Artificial Intelligence</p>
        <small class="text-muted lg:text-2xl"> All Rights Reserved 2021 </small>
        <p>
          <a href="#" class="lg:text-2xl">Back to top</a>
        </p>
      </footer>
      <!-- Footer -->
    
      <!-- Body End here -->
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>


    <script>
      var myIndex = 0;
      
      function imageSlider() {
        var mySlides = document.getElementsByClassName("mySlides");
        for (let i = 0; i < mySlides.length; i++) {
          mySlides[i].style.display = "none";
          
         }
         myIndex++;
         if (myIndex > mySlides.length) {myIndex = 1}    
         mySlides[myIndex-1].style.display = "block";  
         setTimeout(imageSlider, 3000); // Change image every 3 seconds
        }

        imageSlider();


       
        
        //to show
        $(document).ready(function(){

        //connected = String(localStorage.getItem('connected'))
       
        });
        
        
      


      //click to hide
      //$(".notification-box").click(function(){
        //$(this).hide();
     // });

      //to hide
       // $(document).ready(function(){
       // $('.notification-box').delay(6000).fadeOut('slow')
       // });

       

      

        //$('.notification-box').replaceWith("")
        
  

    
   </script>
  
   {% endblock content %}