{% extends "Resto/base.html" %} {% block content %} {% load static %}



<div class="main-container">
    <div class="heading">
        <h1 class="heading__title">Texas GrillZ Menu</h1>
        <p class="heading__credits"><a class="heading__link" target="_blank" href="https://dribbble.com/sl">Design by N'Dri Diby</a></p>
    </div>

    <div class="cards">
        {% for cat in category %}
        <div class="card card-{{cat.cat_id}}">
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <!-- <img source='' alt='img'> -->
            <a href="{% url 'menu_details' cat.cat_id %}" style="text-decoration:none;">
                <h2 class="card__title" style="text-align: center;">{{cat.name}}</h2>
                <p class="card-text" style="text-align: center;">{{cat.description}}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}