{% extends "Resto/base.html" %} {% load static %} {% block content %}{% if items %}
<script src="https://cdn.tailwindcss.com"></script>
<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<style>


  .orderTotal-box {
    width: 33%;
    height: 10%;
    border: 2px solid gray;
    margin-left: 20px;
    border-radius: 8px;
    margin: 10px;
    background-color: rgb(176, 222, 155);
    
    /*rgb(176, 222, 155)*/
    
  }
  
  .orderTotal-box .orderTotal-content {
    padding: 10px;
    padding: 3px;
    font-size: 18px;
    
  }
  .orderTotal-box .orderTotal-content .orderTotal-total{
    text-align: center;
  }
  


  input{
    width: 80px;
    height: 58px;
  
    
  }

  label{
    height: 20px;
  }

  
  input[type='checkbox'] + label{
    position: relative;
    padding-left: 35px; 
    margin-top: 20px;
    margin-left: 5px; 
    cursor: pointer;
    display: inline-block;
    color: gray;
    line-height: 25px;
    
  }
  input[type='checkbox']{
    position: absolute;
    opacity: 0;
    width: 30px;
    z-index: 10;
    cursor: pointer;
 
  }

input[type='checkbox'] + label::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  outline: 2px solid rgb(69, 69, 70);
  background-color: white;
}
input[type='checkbox']:checked + label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    outline: none;
    background-color: white;
}
input[type='checkbox']:checked + label::after{
   content: '';
   background-image: url("{% static 'Resto/check.svg' %}");
   background-size: contain;
   position: absolute;
   left: 0;
   top: 0;
   width: 18px;
   height: 18px;
   border-radius: 2px;
   opacity: 1;
   animation: popout 1s ease;
   animation-delay: 0.2s;
   -webkit-animation: popout 1s ease;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   -o-border-radius: 2px;

}
input[type='checkbox']:not(:checked) + label::after{
    content: '\2714';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    transform: scale(0);
    background-color: blue;
    opacity: 0;
    transition: all 1s ease;
    transition-delay: 0.2s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}





  h5{
    background-color: rgb(107 114 128);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding-left: 45px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  /* .ingredient-item{
    position: relative;
  }
  .ingredient-item label{
    position: absolute;
    top: 8px;
    left: 43px;
  } */

  .item-cat-instruction{

    padding-left: 140px;

  }

  .item-cat-name{
    font-weight: bold;
    color: white;
  }
  .item-cat-number{
    color: white;
    padding-left: 4px;
    font-weight: bold;
  }


.border{
  border: 1px solid black;
}
.first {
    opacity: 0;
    }
    .second {
    opacity: 1;
    }
    .popout {
        animation: popout 1s ease;
        -webkit-animation: popout 1s ease;
    }
    @keyframes popout {
        from{transform:scale(0)}
        80%{transform:scale(1.2)}
        to{transform:scale(1)}
    }
    @-webkit-keyframes popout {
        from{-webkit-transform:scale(0)}
        80%{-webkit-transform:scale(1.2)}
        to{-webkit-transform:scale(1)}
    }

.circle-ripple {
  /* background-color: gray; */
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-animation: ripple .7s linear infinite;
          animation: ripple .7s linear infinite;
}


@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(128,128,128, 0.3), 0 0 0 1em rgba(128,128,128, 0.3), 0 0 0 3em rgba(128,128,128, 0.3), 0 0 0 5em rgba(128,128,128, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(128,128,128, 0.3), 0 0 0 3em rgba(128,128,128, 0.3), 0 0 0 5em rgba(128,128,128, 0.3), 0 0 0 8em rgba(128,128,128, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(128,128,128, 0.3), 0 0 0 1em rgba(128,128,128, 0.3), 0 0 0 3em rgba(128,128,128, 0.3), 0 0 0 5em rgba(128,128,128, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(128,128,128, 0.3), 0 0 0 3em rgba(128,128,128, 0.3), 0 0 0 5em rgba(128,128,128, 0.3), 0 0 0 8em rgba(128,128,128, 0);
  }
}

  
</style>


  <!-- UserBox -->
<div class="p-2">
  <div class="flex justify-between userBox items-center">
    <div class="userfield">
      <a class="btn btn-sm btn-secondary" href="/texasgrillz/menudetails/{{items.category.id}}/?session={{app}}"><i class="bi bi-arrow-left-square"></i> {{items.category.name}}</a>
    </div>

    <!-- <div class="logofield w-20">
      <span class="businesslogo"
        ><a href="/texasgrillz/?session={{app}}"><img src="{% static 'Resto/TexasGrillzLogo.jpeg' %}" alt="" width="auto" height="60px" /></a
      ></span>
    </div> -->

    <div class="logOutfield">
        <a href="/texasgrillz/myorder/?session={{app}}" style="text-decoration: none;">
          <div id="cart-total" class ='relative'>
          <i class="bi bi-bag text-3xl"></i>
          <p id='total-item' class="mt-2 mt-1 font-bold absolute top-0 left-0 pt-1 w-full text-center bg-gray-500 text-white rounded-b-md">{{cart_quantity}}</p>
        </div>
    </div></a>

  </div>
</div>
  <!-- UserBox -->

<!-- Notification Box -->
<div id="message">

  </div>
<!-- Notification Box -->


<!-- Menu Info -->
<div class="info my-0">
  <div class="text-white">
    <div class="mySlides relative">
      <img class="w-full h-40 sm:h-60 object-cover rounded-lg  border-2 bg-gradient-to-r from-black to-gray-700 " src="{{items.img.url }}" alt="{{items.name}}" />
      <div class="absolute top-0 left-0 font-bold p-2"></div>
    </div>
  </div>
</div>

<div class="iteminfo-box p-1 m-2 rounded-md mx-2">
      <h1 class="italic font-bold text-xl">{{items.name}}</h1>
      <p id ='item-price'class="item-price w-full font-bold">{{items.prix}}</p>
      
        <p class="text-gray-500">{{items.description}}</p>
      
</div>

<!-- Menu Info -->



<!-- Item Choices -->
<div class="itemChoice-box py-1 p-2 m-2">
  <div class="itemChoice-content">
    <div class="itemChoice-choice">
        <form  method="POST" class ='choiceOptions'>
            <div class="rounded-md">

              {% csrf_token %} 
               <!-- ingredients  -->
              {% if ingredients %}
              <div class="ingredient relative">
                <img class="absolute top-1 left-1 w-8" src="{% static 'Resto/icons8-tomatoes-48.png' %}" alt="">
              <h5 class=" flex items-center" style="color:black;"><span class="item-cat-name">Ingredients</span><span class="item-cat-number">({{ingredients|length}})</span>
                <small class="item-cat-instruction italic ">Multiple choices</small></span></h5></h5>
                {% for ingredient in ingredients %}
                <div class="ingredient-item">
                  <input  id="ingredient{{ingredient.id}}" type="checkbox" name="ingredient" value="{{ingredient.name}}" />
                <label>{{ingredient.name}}</label><br />
                </div>
                {% endfor %}
              </div>
              {% endif %}
  
              
               <!-- seasoning  -->
              {% if assaisonement %}
              <div class="saissoning">
                <h5 class="flex items-center" style="color: black"><span class="item-cat-name">Assaisonnement</span><span class="item-cat-number">({{assaisonement|length}})</span></h5>
                {% for saissoning in assaisonement %}
                <div class="ingredient-item">
                  <input id="saissoning{{saissoning.id}}" type="checkbox" name="assaisonement" value="{{saissoning.name}}" />
                  <label for="saissoning">{{saissoning.name}}</label><br />
                </div>
                {% endfor %}
              </div>
              {% endif %}
  
               <!-- cuisson  -->
              <!-- {% if cuisson %} -->
              <div class = 'cuisson relative'>
                <img class="absolute top-1 left-1 w-8" src="{% static 'Resto/meats.png' %}" alt="">
                <h5 class="flex items-center" style="color: black;"><span class="item-cat-name">Cuisson</span><span class="item-cat-number"> ({{cuisson|length}})</span><span>
                  <small class="item-cat-instruction italic">1 choice</small></span></h5>
                
                {% for cuiss in cuisson %}
                <div class="ingredient-item">
                  <input id="cuisson{{cuisson.id}}" type="checkbox" name="cuisson" value="{{cuiss.name}}" />
                  <label for="cuisson">{{cuiss.name}}</label><br />
                </div>
                {% endfor %}
              <div>
              {% endif %}
                
              <!-- Water -->
              {% if eau_mineral %}
              <div class = 'eau_mineral'>
                <h5 style="color: black;"><span class="item-cat-name">Eau Mineral </span><span class="item-cat-number">({{eau_mineral|length}})</span></h5>
                {% for eau in eau_mineral %}
                <div class="ingredient-item">
                  <input id="eau_mineral{{eau_mineral.id}}" type="checkbox" name="eau_mineral" value="{{eau.name}}" />
                  <label for="eau_mineral">{{eau.name}}</label><br />
                </div>
                {% endfor %}
              <div>
              {% endif %}
                
              <!-- Coca Cola product -->
              {% if coca_cola_produit %}
              <div class = 'coca_cola_produit'>
                <h5 style="color: black;"><span class="item-cat-name">Coca-cola Produit </span><span class="item-cat-number">({{coca_cola_produit|length}})</span></h5>
                {% for coca in coca_cola_produit %}
                <div class="ingredient-item">
                  <input id="coca_cola_produit{{coca_cola_produit.id}}" type="checkbox" name="coca_cola_produit" value="{{coca.name}}" />
                  <label for="coca_cola_produit">{{coca.name}}</label><br />
                </div>
                {% endfor %}
              <div>
              {% endif %}
              <div class ='d-flex justify-content-center mt-2 flex items-center'>
                  <button id="update"  data-product="{{items.id}}" name="item" value="{{items.id}}" data-action="add" title="add to cart" class="update-cart w-10 h-10 rounded-full bg-green-400 text-white"><i class="bi bi-plus-lg text-2x p-2"></i></button>
              </div>

            </div>
          </form>
    </div>
  </div>
</div>
<!-- Item choices -->

<!-- Order Total -->
<a href="/texasgrillz/myorder/?session={{app}}">
<div class="orderTotal-box">
  <div class="orderTotal-content">
    <div id ='orderTotal-total' class="orderTotal-total"><b>{{my_total}} FCFA</b></div>
  </div>
</div></a>
<!-- Order Total -->






<script>

  let btnUpdate = document.getElementById('update')
  let check = document.querySelector('.check')
  let checkBox = document.getElementById('checkbox')
  btnUpdate.addEventListener('click', () =>{
    btnUpdate.classList.add('circle-ripple')
    // btnUpdate.classList.add('border')
    setTimeout(() => {
      btnUpdate.classList.remove('circle-ripple')
      // btnUpdate.classList.remove('border')
      }, 500)
  })



</script>

<script type="text/javascript" src="{% static 'Resto/JavaScript/cart.js'%}"></script>
{% endif %} 
{% endblock content %}
