{% extends "Resto/base.html" %} {% load static %} {% block content %}{% if items %}
<script src="https://cdn.tailwindcss.com"></script>
<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


<style>
  * {
    padding: 0;
    margin: 0;
  }

  .userBox{
    position: sticky;
    top:0
  }

  .accompagement-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .accompagement {
    /* padding-top: 3px; */
    display: flex;
    width: fit-content;

  }


  .accompagement .accompagement-name {
    font-weight: bold;
    width: auto;
    text-align: center;
    margin: 3px;
    box-shadow: inset;
    border: 3px solid rgb(102, 144, 227);
    border-radius: 20px;
    padding: 0px 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  }

  .active p {
    background-color: rgb(176, 222, 155);

  }


  input {
    width: 80px;
    height: 58px;


  }

  label {
    height: 20px;
  

  }


  input[type='checkbox']+label {
    position: relative;
    padding-left: 35px;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    color: gray;
    /* line-height: 25px; */

  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    width: 30px;
    z-index: 10;
    cursor: pointer;

  }

  input[type='checkbox']+label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    outline: 2px solid rgb(69, 69, 70);
    background-color: white;
  }

  input[type='checkbox']:checked+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    outline: none;
    background-color: white;
  }

  input[type='checkbox']:checked+label::after {
    content: '';
    background-image: url("{% static 'Resto/check.svg' %}");
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    opacity: 1;
    animation: popout 1s ease;
    animation-delay: 0.2s;
    -webkit-animation: popout 1s ease;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;

  }

  input[type='checkbox']:not(:checked)+label::after {
    content: '\2714';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    transform: scale(0);
    background-color: blue;
    opacity: 0;
    transition: all 1s ease;
    /* transition-delay: 0.2s; */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
  }


  h5 {
    /* background-color: rgb(107 114 128); */
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding-left: 45px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  }


  .item-cat-instruction-multiplechoice {
    position: absolute;
    top: 6px;
    right: 6px;
    font-weight: bold;


  }

  .item-cat-instruction-onechoice {
    position: absolute;
    top: 12px;
    right: 50px;
    font-weight: bold;
  }

  .item-cat-name {
    font-weight: bold;
    color: white;

  }

  .item-cat-number {
    color: white;
    padding-left: 4px;
    font-weight: bold;
  }


  .border {
    border: 1px solid black;
  }

  .first {
    opacity: 0;
  }

  .second {
    opacity: 1;
  }

  .popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
  }

  @keyframes popout {
    from {
      transform: scale(0)
    }

    80% {
      transform: scale(1.2)
    }

    to {
      transform: scale(1)
    }
  }

  @-webkit-keyframes popout {
    from {
      -webkit-transform: scale(0)
    }

    80% {
      -webkit-transform: scale(1.2)
    }

    to {
      -webkit-transform: scale(1)
    }
  }



  .total-order {
    padding-top: 27px;


  }

  .orderTotal-box {
    width: 190px;
    height: 60px;
    margin-top: 10px;
    border-radius: 20px;

  }

  /* ///////////////////////////////////////////////////  */
  /* .box{
    position: fixed;
    bottom: 10px;
    right: 10px;
  } */
  .orderTotal-box .orderTotal-content {
    font-size: 18px;
    padding-left: 10px;


  }

  .total-order .orderTotal-box .orderTotal-content {
    padding-top: 6px;
    text-align: left;
  }

  .add-to-cartBtn {
    width: 190px;
  }

  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    display: flex;
    align-items: center;
    padding: 16px 20px 16px 15px;
    height: 56px;
    position: relative;
    font-family: inherit;
    font-size: 1em;
    line-height: 1em;
    font-weight: 500;
    background-color: rgb(107 114 128);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    -webkit-tap-highlight-color: transparent;
    transition: box-shadow 0.2s ease, background-color 150ms ease;

    &:focus {
      box-shadow: 0 8px 64px 16px rgba(0, 0, 0, 0.5);
      outline: none;
    }

    &:hover,
    &:active {
      background-color: #eee;
    }
  }

  #cart {
    margin-right: 2px;
    transform-origin: 20% 100%;
    opacity: 1;
  }

  @keyframes slide-up-fade {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(-16px);
      opacity: 0;
    }
  }

  @keyframes roll-out {
    0% {
      transform: translate(0) rotate(0);
    }

    20% {
      transform: translate(0) rotate(-70deg);
      opacity: 1;
    }

    50% {
      transform: translate(0) rotate(-45deg);
      opacity: 1;
    }

    100% {
      transform: translate(140px) rotate(-47deg);
      opacity: 0;
    }
  }

  .checked-out span {
    animation: slide-up-fade 150ms 1;
    animation-fill-mode: both;
  }

  .checked-out #cart {
    margin-top: 20px;
    animation: roll-out 1s 1 150ms;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
  }

  @keyframes checkmark {
    from {
      stroke-dashoffset: 26px;
    }

    to {
      stroke-dashoffset: 0;
    }
  }

  #check {
    position: absolute;
    left: calc(50% - 12px);
  }

  #check path {
    stroke-dasharray: 26px;
    stroke-dashoffset: 26px;
  }

  .checked-out #check path {
    animation: checkmark 150ms 1 1150ms;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
  }

  .checked-out button {
    background-color: #20bf6b;
    transition-delay: 1150ms;
  }

  .totalBackground {
    background-color: rgb(146, 144, 144);
  }

  .fixed {
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
  }

  .checkOut-box {
    top: 0;
    position: sticky;
    bottom: 1rem;
    margin: 2px;
  }

  @media screen and (min-width: 1000px) {
    
  h5 {
    /* background-color: rgb(107 114 128); */
    width: 100%;
    height: 70px;
    border-radius: 8px;
    padding-left: 45px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  }
  .item-cat-instruction-multiplechoice {
    position: absolute;
    top: 15px;
    right: 6px;
    font-weight: bold;
    font-size: 20px;


  }

  .item-cat-instruction-onechoice {
    position: absolute;
    top: 20px;
    right: 50px;
    font-weight: bold;
    font-size: 20px;
  }

  .item-cat-name {
    font-weight: bold;
    color: white;
    font-size: 25px;

  }

  .item-cat-number {
    color: white;
    padding-left: 4px;
    font-weight: bold;
    font-size: 25px;
  }
  label{
    font-size: 25px;
  }
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    width: 40px;
    z-index: 10;
    cursor: pointer;

  }
  
  input[type='checkbox']+label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    outline: 2px solid rgb(69, 69, 70);
    background-color: white;
  }
  .orderTotal-box .orderTotal-content {
    font-size: 28px;
    padding-left: 10px;

  }


  .pop-item{
    display: flex;
    font-size: 30px;
    cursor: pointer;
  }

  .pop-item-title{
  color: blueviolet;
  font-size: 25px;
  padding: 2px;
  }

  .accompagement {
    /* padding-top: 3px; */
    display: flex;
    width: fit-content;
  }

  .pop-item-name p {
   font-size: 12px;
   color: coral;
  }



  }
</style>



<!-- UserBox -->
<div class="p-3 py-5">
  <div class="flex justify-between userBox items-center">
    <div class="userfield">
      <a onclick="history.back()"><i
          class="bi bi-arrow-left font-bold text-2xl lg:text-3xl flex items-center gap-x-2"><span
            class="font-normal text-xl lg:text-2xl">{{items.category.name}}</span></i></a>
    </div>

    <div class="logOutfield">
      <a href="/texasgrillz/myorder/?session={{app}}" style="text-decoration: none;">
        <div id="cart-total" class='relative'>
          <i class="bi bi-bag text-3xl lg:text-5xl"></i>
          <p id='total-item'
            class="mt-2 mt-1 font-bold absolute top-0 left-0 lg:top-2 pt-1 w-full lg:h-10 text-center bg-gray-500 text-white rounded-b-md lg:text-2xl">
            {{cart_quantity}}</p>
        </div>
    </div></a>

  </div>
</div>
<!-- UserBox -->



<!-- Menu Info -->

<div class="info my-4">
  <div class=" my-2">
    <div class="text-white">
      <div class="relative">
        <img class="w-full h-[300px] sm:h-80 lg:h-96 object-contain  bg-white " src="{{items.img.url }}" alt="{{items.name}}" />
        <div class="absolute top-0 left-0 font-bold p-2"></div>
        </div>
        </div>
        </div>

  <div class="iteminfo-box p-1 m-2 rounded-md mx-2">
    <h1 class="italic font-bold text-2xl sm:text-3xl lg:text-5xl">{{items.name}}</h1>
    <p id='item-price' class="item-price w-full font-bold text-lg sm:text-xl lg:text-2xl">{{items.prix}}</p>
    <p class="text-gray-500 sm:text-xl lg:text-2xl">{{items.description}}</p>
</div>

<!-- Menu Info -->



<!-- Item Choices -->

    <div class="itemChoice-box py-1 p-2">

      <div class="itemChoice-box py-0 min-h-full">

        <div class="itemChoice-content">
          <div class="itemChoice-choice">
            <form method="POST" class='choiceOptions'>
              <div class="rounded-md">

                {% csrf_token %}
                {% if items.accompagnement.all %}
                <p class="text-gray-500 mb-3 lg:text-2xl">Accompagner de votre choix:</p>
                <div class="accompagement-box">
                  {% for acc in items.accompagnement.all %}
                <div data-accomp_id="{{acc.id}}" data-accomp_name="{{acc.name}}" class='accompagement'>
                  <p id="accompagement{{acc.id}}" data-accomp_name="{{acc.name}}" class='accompagement-name'>{{acc.name}}
                    ({{acc.prix}})
                  </p>
                </div>
  
                {% endfor %}
                </div>
                {% endif %}

                <!-- ingredients  -->
                {% if ingredients %}
                <div id="ingredient" class="ingredient relative mt-2">
                  <img class="absolute top-1 left-1 w-8 lg:top-4 lg:mr-2" src="{% static 'Resto/icons8-tomatoes-48.png' %}" alt="">
                  <div class="item-cat-instruction-multiplechoice">
                    <small class="italic">Multiple choices</small>
                  </div>
                  <h5 class=" flex items-center bg-gray-500" style="color:black;"><span class="item-cat-name">Ingredients</span><span
                      class="item-cat-number">({{ingredients|length}})</span>
                  </h5>
                  
                  {% for ingredient in ingredients %}
                  <div class="ingredient-item show" id="ingredient-item">
                    <input id="ingredient{{ingredient.id}}" type="checkbox" name="ingredient" value="{{ingredient.name}}">
                    <label>{{ingredient.name}}</label><br />
                    </div>
                    {% endfor %}
                    </div>
                    {% endif %}
                    
                    
                    <!-- seasoning  -->
                    {% if assaisonement %}
                    <div id="saissoning" class="saissoning">
                  <h5 class="flex items-center" style="color: black"><span class="item-cat-name">Assaisonnement</span><span
                      class="item-cat-number">({{assaisonement|length}})</span>
                    <span><small class="item-cat-instruction-onechoice italic">1 choice</small></span>
                  </h5>
                  {% for saissoning in assaisonement %}
                  <div class="ingredient-item show" id="sassoning-item">
                    <input id="saissoning{{saissoning.id}}" type="checkbox" name="assaisonement" value="{{saissoning.name}}" />
                    <label for="saissoning">{{saissoning.name}}</label><br />
                  </div>
                  {% endfor %}
                  </div>
                  {% endif %}
                  
                  <!-- cuisson  -->
                  <!-- {% if cuisson %} -->
                  <div id="cuisson" class='cuisson relative mt-2'>
                    <img class="absolute top-1 left-1 w-8 lg:top-4 lg:mr-2" src="{% static 'Resto/meats.png' %}" alt="">
                    <h5 class="flex items-center bg-gray-500 " style="color: black;"><span class="item-cat-name">Cuisson</span><span
                        class="item-cat-number">
                        ({{cuisson|length}})</span><span>
                        <small class="item-cat-instruction-onechoice italic">1 choice</small></span></h5>
                    
                    {% for cuiss in cuisson %}
                  <div class="ingredient-item show" id="cuisson-item">
                    <input id="cuisson{{cuisson.id}}" type="checkbox" name="cuisson" value="{{cuiss.name}}" />
                    <label for="cuisson">{{cuiss.name}}</label><br />
                  </div>
                  {% endfor %}
                  <div>
                    {% endif %}
                  
                    <!-- Water -->
                    {% if eau_mineral %}
                    <div class='eau_mineral'>
                      <h5 style="color: black;"><span class="item-cat-name">Eau Mineral </span><span
                          class="item-cat-number">({{eau_mineral|length}})</span>
                        <span><small class="item-cat-instruction-onechoice italic">1 choice</small></span>
                      </h5>
                      {% for eau in eau_mineral %}
                      <div class="ingredient-item show">
                        <input id="eau_mineral{{eau_mineral.id}}" type="checkbox" name="eau_mineral" value="{{eau.name}}" />
                        <label for="eau_mineral">{{eau.name}}</label><br />
                      </div>
                      {% endfor %}
                      <div>
                        {% endif %}
                    
                        <!-- Coca Cola product -->
                        {% if coca_cola_produit %}
                        <div class='coca_cola_produit'>
                          <h5 style="color: black;"><span class="item-cat-name">Coca-cola Produit </span><span
                              class="item-cat-number">({{coca_cola_produit|length}})</span>
                            <span><small class="item-cat-instruction-onechoice italic">1 choice</small></span>
                          </h5>
                          {% for coca in coca_cola_produit %}
                          <div class="ingredient-item show">
                            <input id="coca_cola_produit{{coca_cola_produit.id}}" type="checkbox" name="coca_cola_produit"
                              value="{{coca.name}}" />
                            <label for="coca_cola_produit">{{coca.name}}</label><br />
                          </div>
                          {% endfor %}
                          <div>
                            {% endif %}

                            <!-- Notification Box -->
                            <div id="message">
                          
                            </div>
                            <!-- Notification Box -->

                              <div id="box" class="box flex justify-around w-full">
                              
                                <div class="flex justify-between py-2 checkOut-box">

  <div class="flex justify-between items-center">

      <div class="total-order">
        <!-- Order Total -->
        <a href="/texasgrillz/myorder/?session={{app}}">
          <div class="orderTotal-box">
            <div class="orderTotal-content">
              <h1>Total Price</h1>
                <div id='orderTotal-total' class="orderTotal-total text-xl lg:text-2xl"><b>{{my_total}}
                    FCFA</b></div>
                </div>
                </div>
                </a>
                <!-- Order Total -->
                </div>
    <div class="add-to-cartBtn mt-8">
            <button data-product="{{items.id}}" name="item" value="{{items.id}}" data-action="add" class="update-cart w-[180px]">
              <svg style="width:40px;height:24px" viewBox="0 0 24 24" id="cart">
            <path fill="#ffffff"
              d="M17,18A2,2 0 0,1 19,20A2,2 0 0,1 17,22C15.89,22 15,21.1 15,20C15,18.89 15.89,18 17,18M1,2H4.27L5.21,4H20A1,1 0 0,1 21,5C21,5.17 20.95,5.34 20.88,5.5L17.3,11.97C16.96,12.58 16.3,13 15.55,13H8.1L7.2,14.63L7.17,14.75A0.25,0.25 0 0,0 7.42,15H19V17H7C5.89,17 5,16.1 5,15C5,14.65 5.09,14.32 5.24,14.04L6.6,11.59L3,4H1V2M7,18A2,2 0 0,1 9,20A2,2 0 0,1 7,22C5.89,22 5,21.1 5,20C5,18.89 5.89,18 7,18M16,11L18.78,6H6.14L8.5,11H16Z" />
            </svg>
        <span class="pl-4">Add Cart</span>
        <svg id="check" style="width:24px;height:24px" viewBox="0 0 24 24">
  <path stroke-width="2" fill="none" stroke="#ffffff" d="M 3,12 l 6,6 l 12, -12" />
  </svg>
  </button>
  </div>


<!-- </div> -->

    </div>
        </form>
    </div>
    </div>
    </div>
    </div>
<!-- Item choices -->


<div class="pop-item-box">
  <div class="pop-item-content">
    <h1 class="text-center mt-2 pop-item-title" style="font-size: 25px;color:coral">Popular Items</h1>
    <div class="pop-item p-2 flex h-100 ">
      {% for pop in show_pop_item %}
      <div class="pop-item-name" >
        {% if pop.name|length == 5 %}
          <p>check </p>
        {% endif %}
        <a href="/texasgrillz/itemdetails/{{pop.id}}/?session={{app}}" ">
          <p class="card-body" >{{pop.name}}</p><br>
        <img src="{{pop.img.url}}" alt="" width="70px">
        </a>
        
      </div>
      {% endfor %}
    </div>
  </div>
</div>









<script>

let addToCartBtn = document.querySelector('.add-to-cartBtn');
addToCartBtn.addEventListener('click', () => {
  document.documentElement.classList.add('checked-out');
  setTimeout(() => {
    document.documentElement.classList.remove('checked-out');
  }, 2300)
});
</script>

<script type="text/javascript" src="{% static 'Resto/JavaScript/cart.js'%}"></script>
{% endif %}
{% endblock content %}
