{% extends "Resto/base.html" %} {% load static %} {% block content %}
<script src="https://cdn.tailwindcss.com"></script>
<!-- Tailwind CSS -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<style>

  .cat-tile{
    /* padding: 2px; */
    /* font-size: 20px; */
    color: chocolate;;
  }

  .nav {
    position: fixed;
    top:0px
  }


  div.item-image img {
    border-radius: 5px 5px 0 0px;
    width: 250px;
    height: 80px;
    object-fit: cover;
  }

  .orderTotal-box {
    width: 33%;
    height: 10%;
    border: 2px solid gray;
    margin-left: 20px;
    border-radius: 8px;
    margin: 10px;
    background-color: #b0de9b;
  }

  .orderTotal-box .orderTotal-content {
    /* background-color: rgb(131, 190, 242); */
    /* background-color: rgb(38, 165, 38); */
    padding: 3px;
    /* color: rgb(237, 98, 48); */
    font-size: 18px;
  }
  .orderTotal-box .orderTotal-content .orderTotal-total {
    text-align: center;
  }

  .menudetails-items {
    /* border: 2px solid gray; */
    /*  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);*/
    border-radius: 12px;
    margin: 10px;
  }
  .menu-name {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: 680px) {
    div.item-image img {
      border-radius: 5px 5px 0 0px;
      width: 250px;
      height: 170px;
      object-fit: cover;
    }
    
  }
  @media screen and (min-width: 900px) {
    div.item-image img {
      border-radius: 5px 5px 0 0px;
      width: 350px;
      height: 200px;
      object-fit: cover;
    }
    
  }

  .active-class{
    background-color: rgb(145, 195, 145);
  }
</style>



<!-- <div class="p-2"> -->
<!-- UserBox -->
 <div class="flex justify-between userBox items-center px-5 pt-5">
    <div class="userfield">
      <a class="" href="/texasgrillz/?session={{app}}"><i class="bi bi-arrow-left font-bold text-2xl md:text-3xl lg:text-4xl flex items-center gap-x-2">
        <!-- <span class="font-normal text-xl">Menu</span> -->
      </i></a>
    </div>
<!-- 
 <div class="logofield w-20">
      <span class="businesslogo"
        ><a href="/texasgrillz/?session={{app}}"><img src="{% static 'Resto/TexasGrillzLogo.jpeg' %}" alt="" width="auto" height="60px" /></a
      ></span>
    </div> -->

<!-- Order Total -->
 <a href="/texasgrillz/myorder/?session={{app}}" style="text-decoration: none;">
    <div class="orderTotal-box">
      <div class="orderTotal-content">
        <div class="orderTotal-total"><b>{{cart_total}} FCFA</b></div>
      </div></a>
    </div>
<!-- Order Total -->
<div class="logOutfield">
      <div class="logOutlogo md:text-2xl lg:text-3xl">
        {% if user.is_authenticated %}
        <a class="btn btn-sm btn-outline-secondary" href="/logout/?session={{app}}">Deconnexion</a> {% else%}
        <a class="btn btn-sm btn-outline-secondary" href="/login/?session={{app}}">Connexion</a> {% endif %}
      </div>
    </div>
  </div>
</div> 

<!-- Menu Info -->
<div class="info md:my-40 lg:my-44">
  <div class="text-white">
    <div class="mySlides relative ">
      <img class="w-full h-40 sm:h-60 md:h-72 lg:h-80 object-cover rounded-lg border-2 bg-gradient-to-r from-black to-gray-700 opacity-50" src="{{menu.img.url}}" />
      <div class="absolute top-0 left-0 font-bold p-2">
        <h1 class ='menu-name text-2xl md:text-5xl lg:text-6xl' data-active = '{{menu.id}}' class="italic">{{menu.name}}</h1>
        <p class="w-full text-lg pt-3 md:text-2xl lg:text-3xl">{{menu.description}}</p>
      </div>
    </div>
  </div>
</div>


<!-- Menu Details -->
{% for m in category %}
<h1 class="text-left font-bold sm:text-2xl md:text-3xl lg:text-4xl cat-tile px-4 pt-2">{{m.name}}</h1>

<section id='menu-{{m.id}}' class="w-full font-bold text-3xl">
  {% for cat in m.item_set.all  %}
  <a  href="/texasgrillz/itemdetails/{{cat.id}}/?session={{app}}" style="text-decoration: none; color: black">
      <div class="menudetails-items relative flex justify-between gap-x-10 sm:justify-around px-1 py-2 lg:py-10 bg-gray-100">
        
        <div class ='justify-content-center mt-2 flex items-center absolute top-0 right-2'>
          <i class="bi bi-plus w-6 h-6 lg:text-3xl rounded-full bg-green-400 text-white flex items-center justify-center border-2 md:w-8 md:h-8 lg:w-12 lg:h-12"></i>
        </div>

        <div class="item-image relative">
          <img class="" src="{{cat.img.url}}" width="250" height="150" />
        </div>

        <div class="menu-leftside w-80 sm:w-1/2 leading-normal">
          <div class="item-name font-bold text-xl md:text-2xl lg:text-4xl">{{cat.name}}</div>
          <div id='trunc-{{cat.id}}' class="trunc text-sm text-gray-500 sm:text-xl lg:pt-2 md:text-2xl lg:text-3xl pb-2">{{cat.description|truncatewords:5}}</div>
          <div class="item-price text-sm sm:text-2xl lg:pt-5 md:pt-3 md:text-3xl lg:text-4xl" style="color: chocolate;">{{cat.prix}}</div>
        </div>
      </div>
    {% endfor %}
  </a>
  </section>
<br>
{% endfor %}
<!-- Menu Details -->

<h1 class="text-left font-bold sm:text-2xl md:text-3xl lg:text-4xl cat-tile px-4 pt-2">Sides</h1>
<!-- sides -->
{% for side in sides  %}

<div class="menudetails-items relative flex justify-between gap-x-10 sm:justify-around px-1 py-2 lg:py-10 bg-gray-100">
    
  <div class ='justify-content-center mt-2 flex items-center absolute top-0 right-2'>
    <i class="bi bi-plus w-6 h-6 lg:text-3xl rounded-full bg-green-400 text-white flex items-center justify-center border-2 md:w-8 md:h-8 lg:w-12 lg:h-12"></i>
  </div>

  <div class="item-image relative">
    <img class="" src="https://www.seriouseats.com/thmb/sQ_5MV-c0N_8kLLSas6Pr-fbrcY=/735x0/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2013__03__20130305-fried-plantains-mint-mojo-recipe-3-941b0e98a44743e18cb967d7ac677a95.jpg" width="250" height="150" />
  </div>

  <div class="menu-leftside w-80 sm:w-1/2 leading-normal">
    <div class="item-name font-bold text-xl md:text-2xl lg:text-4xl">{{side.name}}</div>
    <div id='trunc-{{cat.id}}' class="trunc text-sm text-gray-500 sm:text-xl lg:pt-2 md:text-2xl lg:text-3xl pb-2"></div>
    <div class="item-price text-sm sm:text-2xl lg:pt-5 md:pt-3 md:text-3xl lg:text-4xl" style="color: chocolate;">{{side.prix}}</div>
  </div>
</div>

{% endfor %}

<!-- sides -->


<!-- side modal -->
<!-- Button trigger modal -->
<button type="button"
  class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
  id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog relative w-auto pointer-events-none">
    <div
      class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
      <div
        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
        <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalLabel">
          Modal title
        </h5>
        <button type="button"
          class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body relative p-4">
        ...
      </div>
      <div
        class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
        <button type="button"
          class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
          data-bs-dismiss="modal">Close</button>
        <button type="button"
          class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">Understood</button>
      </div>
    </div>
  </div>
</div>


<script>
  var cart = "{{cart_quantity}}";
  $(".orderTotal-box").hide();

  //Check if there item in the cart
  if (cart >= 1) {
    $(".logofield").hide(); //hide logo
    $(".orderTotal-box").show(); //show total order
  }
</script>
{% endblock content %}
