{% extends "Resto/base_menu.html" %} {% block content %} {% load static %}
<div class='container py-5' style="text-align: center;">
    <div class='heading__title'>
        <h1>{{menu.name}}</h1>
    </div>

    {% for i in item %}
    <div class='row g-3 mt-5' style="align-items: center;width: 350px;">
        <div class='col'>
            <div class='card justify-content-center'>
                <div>
                    <img src="{{i.img.url}}" alt="{{i.name}}" style="width:250px; height:300px;
                    object-fit: scale-down;image-rendering: auto">
                    <h2 style="color: tomato;">{{i.name}}</h2>
                </div>
                <div class=' card-title'>
                    <p>{{i.description}}</p>
                    <b><p>{{i.prix}} FCFA</p></b>
                </div>

            </div>

        </div>

    </div>
    {% endfor %}
</div>


{%endblock content%}