{% extends "Resto/base_menu.html" %} {% block content %} {% load static %}
<div class='container py-5' style="text-align: center;">
    <div class='heading__title'>
        <h1>{{menu.name}}</h1>
    </div>



    <div class="card card-{{menu.id}} mt-5">
        {% for i in item %}
        <a href="#" style="text-decoration:none;">
            <div class="card">
                <div style="text-align: center" class='mt-3'>
                    <img src="{{i.img.url}}" alt="{{i.name}}" style="width: 300px; height: 300px; object-fit:scale-down;image-rendering: auto;text-align: center;">
                </div>
                <h2 class="card-text" style="text-align: center;">{{i.name}}</h2>
                <p class="card-text" style="text-align: center;">{{i.description}}</p>
                <p class="card-text" style="text-align: center;">{{i.prix}} FCFA</p>
            </div>
            {% endfor %}
        </a>
    </div>
</div>


{%endblock content%}