<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>ORDER CONFIRM</h1>

    <button onclick='go()' type='submit' class='move' class='btn btn-primary'> Send Me</button>

</body>

<script>
    var check = document.getElementsByClassName('move')

    function go() {
        console.log('redirecting to....')
        window.location.href = '/'
    }
</script>

</html>